@body-bg: #fff;

body {
  background-color: @body-bg;
}

.flex {
  display: flex;
  flex-direction: row;
}

.clear {
  clear: both;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  width: 220px;
  margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  height: 40px;

  border-bottom: none;
  height: 50px;
  line-height: 50px;

  // display: inline-block;
  margin-right: -4px;
}

.nav a {
  text-decoration: none;
  color: #111;
  display: block;
  transition: .3s background-color;
}

.nav a.active {
  background-color: #eee;
  color: #222;
  cursor: default;
}

.left-sidebar {
  padding-left: 20px;
  width: 380px;

  textarea {
    width: 340px;
    height: 400px;

    &.small {
      height: 300px;
    }
  }
}

.right-sidebar {
  padding-left: 20px;
  width: 600px;
}

// Deal with warning:
// Electron Helper[27007:2145702] Couldn't set selectedTextBackgroundColor from default ()
::selection {
  background: rgb(166,204,255);
}

ul.points {
  list-style: none;

  span {
    display: inline-block;

    &.coord {
      width: 40px;
    }

    &.label {
      width: 100px;
    }
  }
}

input, select {
  margin-right: 4px;

  &.small {
    width: 60px;
  }
}